@{
  Layout = "_Layout";
}

<nav class="well">
    <ul class="nav nav-pills purple nav-justified">
        <li class="active"><a href="/stylists">Stylists</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/specialties">Specialties</a></li>
    </ul>
</nav>


<h2>Stylists</h2>
<div class="options well">
    <h3 class="options">Options</h3>
        <p class="options"><a href="/stylists/new"><span class="glyphicon glyphicon-plus"></span> Add New Stylist</a></p>
        <p class="options"><a href="/stylists/delete"><span class="glyphicon glyphicon-warning-sign"></span> Delete All Stylists</a></p>
    </ul>
</div>

@if (@Model.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Stylist Name</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var stylist in Model)
            {
                <tr>
                    <td>@stylist.GetFirstName() @stylist.GetLastName()</td>
                    <td><a href="/stylists/@stylist.GetId()"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                    <td><a href="/stylists/@stylist.GetId()/update"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/stylists/@stylist.GetId()/delete"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            }
        </tbody>
    </table>

}
