@{
  Layout = "_Layout";
}

<h1>Stylists</h1>
<a href="/stylists/new">Add new stylist</a>
@foreach(var stylist in Model)
{
    <h4><a href="/stylists/details/@stylist.GetId()">@stylist.GetFirstName() @stylist.GetLastName()</a></h4>
}
