@{
  Layout = "_Layout";
}

<h1>Stylists</h1>
<a href="/stylists/new">Add new stylist</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Details & Clients</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var stylist in Model)
        {
            <tr>
                <td>@stylist.GetFirstName() @stylist.GetLastName()</td>
                <td><a href="/stylists/details/@stylist.GetId()"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                <td><a href="/stylists/delete/@stylist.GetId()"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        }
    </tbody>
</table>
