@{
  Layout = "_Layout";
}

<nav class="well">
    <ul class="nav nav-pills purple nav-justified">
        <li class="active"><a href="/stylists">Stylists</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/specialties">Specialties</a></li>
    </ul>
</nav>

<h2>Update Stylist @Model.GetFirstName()</h2>

<form action="/stylists/@Model.GetId()/update" method="post">
    <div class="form-group">
        <label for="s-first-name">First Name</label>
        <input type="text" name="s-first-name" class="form-control" value="@Model.GetFirstName()">
    </div>
    <div class="form-group">
        <label for="s-last-name">Last Name</label>
        <input type="text" name="s-last-name" class="form-control" value="@Model.GetLastName()">
    </div>
    <button class="btn btn-default" type="submit">Update Stylist</button>
</form>
