@{
  Layout = "_Layout";
}

<h2>Please select a category to get started</h2>
<nav class="well">
    <ul class="nav nav-pills purple nav-justified">
        <li><a href="/stylists">Stylists</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/specialties">Specialties</a></li>
    </ul>
</nav>
