@{
  Layout = "_Layout";
}

<h2>Add Client for @Model.GetFirstName()</h2>

<form method="post" action="/stylists/@Model.GetId()/clients">
    <div class="form-group">
        <label for="c-first-name">First Name</label>
        <input type="text" name="c-first-name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="c-last-name">Last Name</label>
        <input type="text" name="c-last-name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="phone-number">Phone Number</label>
        <input type="text" name="phone-number" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-default">Add Client</button>
</form>

<p class="nav"><a href="/stylists/details/@Model.GetId()">Return to Stylist</a></p>
